@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Raleway:wght@800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Merriweather;
}

#vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

body {
    background-image: url("https://laurenharradine.github.io/cat-vibes/images/hearts.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(66, 4, 85);
    height: 100vh;
    width:100vw;
}

h1{
    font-family: Dancing Script;
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

h2 {
    font-size: 3vmin;
    text-align: center;
}

.header {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-vibe {
    display: flex;
}

.vibe-container img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.vibe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vmin;
    margin-bottom: 0;
}

.vibe {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 20vmin;
    height: auto;
    padding: 1vmin 1vmin;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;

}

.vibe:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media(max-width: 500px) {
    .container {
        padding: 2vh 3vh;
        width: 90%;
        height: 90%;
        max-width: 90%;
        max-height: 90%;
    }
    

    h1, h2 {
        margin: 0;
    }

    body {
        font-size: 3.5vmin;
    }

}